body {

  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  margin: auto;
  background:  var(--primaryBGColor);

}
:root {
  --primaryBGColor: hsl(235, 24%, 19%);  
  /* --seconderyBGColor: hsl(0, 0%, 98%);   */
  /* --seconderyFieldBG: hsl(233, 11%, 84%); */
  --primaryFieldBG: hsl(237, 14%, 26%);
  --typingLight: hsl(0, 0%, 98%);

  --text-area: #1e202f;     
}

body.lightMode {
  --primaryBGColor: hsl(0, 0%, 98%);   
  --primaryFieldBG: hsl(0, 0%, 98%);   
  --typingLight: hsl(237, 14%, 26%);

}
.img-container #bg-img{
  max-width: 100%;
}
.bg-container {
  color: white;
  text-align: center;
  font-size: 25px;
  display: flex;
  height: 200px;
  gap: 270px;
  justify-content: center;
  align-items: center;
}

header {
  background-image: url('../images/bg-desktop-dark.jpg');
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
}
body.lightMode header {
  background-image: url('../images/bg-desktop-light.jpg');
}
.toDo-card-input {
  background-color: var(--primaryFieldBG);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  border-radius:  0px;
  width: 30%;
  margin: 0 auto;
  border: 1px solid hsl(237, 14%, 26%);
  box-shadow: 0 0 4px hsl(237, 14%, 26%);
  min-height: 40px;
  margin-bottom: 26px;
}
.toDo-card-input input, .toDo-card {
  color: var(--typingLight);

}
.toDo-card-input input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
}
.toDo-card {
  background-color: var(--primaryFieldBG);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 16px;
  border-radius:  0px;
  width: 30%;
  margin: 0 auto;
  border: 1px solid hsl(237, 14%, 26%);
  box-shadow: 0 0 4px hsl(237, 14%, 26%);
  min-height: 40px;
  margin-bottom: 26px;
}
.toDo-card  input::placeholder {
  color: #aaa;
}
.toDo-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.toDo-card li {
  font-size: 20px;
  padding: 15px 0;
  border-bottom: 1px solid hsl(234, 11%, 52%); 

}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #777;

}
.completed {
  color: hsl(236, 33%, 92%);
  text-decoration: line-through;
  opacity: 0.7;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

button:hover{
  color: #5d9ad3;
}
#items-counter {
  color: #777;
  justify-content: start;
  margin-right: 30px;
}
.credits {
    color: #777;
    position: fixed;
    bottom: 24px;
    left: 24px;
    font-size: 11px;
    text-align: center;
  }
  
  .credits a {
    color: #ff1616;
    font-weight: bold;
  }
  .sun-icon {
    width: 32px;
    height: 32px;
    background-image: url('images/icon-sun.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .lightMode .sun-icon {
    width: 32px;
    height: 32px;
    background-image: url('images/icon-moon.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  #theme-toggle {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  #theme-toggle img {
    opacity: 0.4;
    transition: opacity 0.4s ease, transform 0.8s ease;
  }
  #theme-toggle:hover img {
    opacity: 1;
    transform: rotate(180deg);
  }
  
  #todo-list li {
    cursor: grab;
    transition: transform 0.2s ease;
}
